{
	"$schema": "https://json.schemastore.org/swcrc",
	"exclude": [ ".*\\.spec|test|stories\\.(js|ts|tsx)$" ],
	"jsc": {
		"target": "es2020",
		"parser": {
			"syntax": "typescript",
			"tsx": true,
			"decorators": true
		},
		"externalHelpers": true,
		"transform": {
			"react": {
				"runtime": "automatic"
			},
			"legacyDecorator": true,
			"decoratorMetadata": true
		}
	},
	"minify": false,
	"module": {
		"type": "es6"
	}
}