{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"target": "es2020",
		"parser": {
			"syntax": "typescript",
			"tsx": true
		},
		"externalHelpers": true,
		"transform": {
			"react": {
				"runtime": "automatic"
			}
		}
	},
	"minify": false,
	"module": {
		"type": "es6"
	}
}