@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screen;

.auth-bg {
    background: url("../public/auth-bg.jpg");
    background-size: cover;
}

.auth-sidebar {
    min-width: 500px;
}